body {
    background-color: #1a1a2e; /* Biru Gelap Warnet */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    border: none;
}

.card {
    border-radius: 12px;
    border: none;
}

/* Timer Font */
#timer {
    font-family: 'Consolas', 'Courier New', monospace;
    letter-spacing: 2px;
}

/* Animasi Kedip Merah (Kritis) */
.blink-red {
    color: #ff4d4d !important;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.3; }
}